body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
}

header, footer {
    background-color: blue;
}

.site-title {
    color: aqua;
}

#my-image{
    box-shadow: 0px 0px 2px 1px black;
}

ul {
list-style-type: square;
}

section>ul>li:nth-child(odd){
    background-color: blue;
}

nav a {
    text-decoration: none;
    background-color: aquamarine;
    border: 2px solid black;
}

nav a:hover{
    background-color: bisque;
}